<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>Vendor</title>
    <link rel="stylesheet" type="text/css" href="css/myapp.css">
  </head>
  <body>
    <div id="header">
        <h1>My Items</h1>
        <a href="#">Item List</a> | <a href="#add">New Item/a>
    </div>
    <br/>
    <div id="content">
      {{{body}}}
    </div>

    <script type="text/javascript" src="js/myapp.js"></script>
  </body>
</html>
