<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>Vendor</title>
    <link rel="stylesheet" type="text/css" href="css/VendorApp.css">
  </head>
  <body>
    <div id="header">
        <h1>Vendor App</h1>
        <a href="#logon">logon</a> | <a href="#signup">signup</a>
    </div>
    <br/>
    <div id="content">
      {{{body}}}
    </div>

    <script type="text/javascript" src="js/VendorApp.js"></script>
  </body>
</html>
