<div class="item_full">
    <strong>Name:</strong> {{name}}<br/>
    <strong>Description:</strong> {{description}}<br/>
    <strong>Price:</strong> {{price}}<br/><br/>
    <strong>Discount:</strong> {{qtyDisc}}<br/><br/>

</div>

<a href="#" class="back"><< Back</a> | <a href="#" class="delete">Delete Item</a>
