<div class="signup">
    <label for="userid">Userid:</label> <input type="text" id="userid" /><br/>
    <label for="password">Password:</label> <input type="text" id="password" /><br/>
    <br/>
    <a href="#" class="save-button">Log On</a> | <a href="#">Back</a>
</div>
